name: Deploy Serverless App

on:
  push:
    branches:
      - main  # eller master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy frontend to S3
        run: |
          aws s3 sync ./ s3://serverless-bucket-2025 --delete
          aws cloudfront create-invalidation --distribution-id E30HD08GZO95R9 --paths "/*"

      - name: Deploy Lambda function
        run: |
          zip -r lambda.zip lambda/
          aws lambda update-function-code --function-name contactFormHandler --zip-file fileb://lambda.zip