name: Deploy Serverless App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy frontend to S3
        run: |
          # Frontend ligger i rootmappen
          aws s3 sync ./ s3://serverless-bucket-2025 --delete

      - name: Package and Deploy Lambda function
        run: |
          # Gå in i lambda/ mappen och zip:a innehållet (endast filerna, inte själva mappen)
          cd lambda
          zip -r ../lambda.zip .
          cd ..
          # Ladda upp zip till Lambda
          aws lambda update-function-code --function-name contactFormHandler --zip-file fileb://lambda.zip

      - name: Create CloudFront invalidation
        run: |
          aws cloudfront create-invalidation --distribution-id E30HD08GZO95R9 --paths "/*"